<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Hyde Starter Kit {{ resource.meta.title_ending }}</title>

        <link href="http://fonts.googleapis.com/css?family=Anton" rel="stylesheet" type="text/css">

        {# We are using CSS version, only link these 2 files. #}
        <link rel="stylesheet" href="{{ media_url('css/normalize.css') }}">
        <link rel="stylesheet" href="{{ media_url('css/foundation.css') }}">

        {# You may add app.css to use for your overrides if you like. #}
        <link rel="stylesheet" href="{{ media_url('css/app.css') }}">

        <!--[if lt IE 9]>
        <link rel="stylesheet" href="{{ media_url('stylesheets/ie.css') }}">
        <![endif]-->

        {# Modernizr acts as a shim for HTML5 elements for older browsers as
           well as detection for mobile devices.
        #}
        <script src="{{ media_url('js/vendor/custom.modernizr.js') }}"></script>
    </head>
    <body>
        <header class="row">
            <hgroup>
                <div class="twelve columns">
                    <h1><span>Hyde</span> Starter Kit</h1>
                    <h2 class="subheader">Know your tool</h2>
                </div>
            </hgroup>
        </header>

        <div class="row">
            <article id="content" class="nine columns">
            {# Main content block. Notice it has to pass through the
               Markdown filter to generate HTML. If a block in content
               pages contains only markup, you can omit the filter.
            #}
                {% filter markdown -%}
                {% block content %}{% endblock %}
                {%- endfilter %}
            </article>

            <nav class="three columns">
            {# Move main menu rendering away from the base layout. This
               way it can be used to generate the list many times, in
               a footer, etc.
            #}
                {% import "macros.j2" as macros with context %}
                {{ macros.render_basic_menu() }}
                {{ macros.render_advanced_menu() }}
            </nav>
        </div>

        <div class="row">
            <aside class="eight columns">
                <p>Created by <a href="{{ author.url}}">{{ author.name}}</a>
                for <a href="{{ project.url }}">{{ project.name }}</a></p>
            </aside>
        </div>

        {# Check for Zepto support, load jQuery if necessary #}
        <script>
            document.write('<script src="{{ media_url('js/vendor/') }}'
                    + ('__proto__' in {} ? 'zepto' : 'jquery')
                    + '.js"><\/script>');
        </script>

        {# Load js individually #}
        <script src="{{ media_url('js/foundation/foundation.js') }}"></script>
        <script src="{{ media_url('js/foundation/foundation.alerts.js') }}"></script>
        <script src="{{ media_url('js/foundation/foundation.clearing.js') }}"></script>
        <script src="{{ media_url('js/foundation/foundation.cookie.js') }}"></script>
        <script src="{{ media_url('js/foundation/foundation.dropdown.js') }}"></script>
        <script src="{{ media_url('js/foundation/foundation.forms.js') }}"></script>
        <script src="{{ media_url('js/foundation/foundation.joyride.js') }}"></script>
        <script src="{{ media_url('js/foundation/foundation.magellan.js') }}"></script>
        <script src="{{ media_url('js/foundation/foundation.orbit.js') }}"></script>
        <script src="{{ media_url('js/foundation/foundation.placeholder.js') }}"></script>
        <script src="{{ media_url('js/foundation/foundation.reveal.js') }}"></script>
        <script src="{{ media_url('js/foundation/foundation.section.js') }}"></script>
        <script src="{{ media_url('js/foundation/foundation.tooltips.js') }}"></script>
        <script src="{{ media_url('js/foundation/foundation.topbar.js') }}"></script>
        <script src="{{ media_url('js/foundation/foundation.interchange.js') }}"></script>

        {# It is recommended that you initialize Foundation at the end of the page <body>. #}
        <script>
            $(document).foundation();
        </script>

        {# Some parts of the web are not needed for development and can
           wait for production (ex. analytics). They can be included in
           the final production build. Create a new config file, extend
           the original one and override the "mode" property; then build
           the site with the new "production configuration".
        #}
        {% if site.config.mode == "production" -%}
            {% include "ga.j2" %}
        {%- endif %}
    </body>
</html>
